<h1>My Photos:</h1>
<%= flash[:notice] %><br>
<%= flash[:alert] %>

<% if logged_in? %>
  <%= link_to "New Post", new_post_path %>
  <%= link_to "Log Out", logout_path %>
<% end %>

<% if !logged_in? %>
  <%= link_to "Log In", login_path %>
  <%= link_to "Register", new_user_path %>
<% end %>

<% @posts.each do |post| %>
  <%= link_to image_tag(post.image, size: "150x100"), post_path(post) %>
  <p><%= link_to post.caption, post_path(post) %></p>
<% end %>
