<div class="">
<%= flash[:alert] %>
<%= form_for Post.new do |f| %>
  <%= f.label :image %>
  <%= f.file_field :image %>
  <%= f.label :caption %>
  <%= f.text_area :caption %>
  <%= f.submit "Publish" %>
<% end %>
</div>

